html {
	background-image: url("21.jpg");
	background-repeat: y-repeat;
	height: 100%;
	background-size: 100%;
	background-attachment: fixed;
}

div {
	border-radius: 7px;
	margin: 1%;
	background-color: rgba(75, 26, 107, 0.479);
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(5, 3, 3)
}

.wrapper {
	margin: 50px auto;
	padding: 0px;
}

.clearfix::after {
	clear: both;
	display: table;
}

.left{
    width:21%;
	float: left;
	padding: 0.5%;
	margin-top: 80px; 
	
}
 


.right{
    width: 74%;
	float: left;
	
}
h2{
    font-family: 'Marck Script', cursive;
}

.menu{
	padding: 3%;
}

.menu > ul {
	margin-top: 0px;
	list-style: none;
	padding: 2%;
}

.menu > ul > li {
	padding: 1%;
	border: 1px dashed black;
	margin-top: 10px;
	width: 100%;
	border-radius: 7px;
	margin-right: 1%;
}

.menu > ul > li > a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.menu > ul > li > a[href="#"] {
	color: black;
}

.menu > ul > li:hover {
    background-color: gray;
}

.header{
	text-align: center;
	background-color: rgba(12, 12, 12, 0.5);

}

.content, .footer,.additional{
	background-color: rgba(104, 102, 102, 0.5);
	text-align: justify;	
	font-family: 'Prata', serif;
	color: black;
	font-size: 90%;
	padding-bottom: 10px;
}

p{
	padding: 0.5%;
	text-indent: 2%;	
}

.menu, .additional, .center, .footer{
	text-align: center;
	font-family: 'Prata', serif;
	color: rgb(7, 6, 6);
}
.image{
    width: 600px;
    height: 450px;
    margin-top: 0px;
	list-style: none;
	padding: 20px;
	
}